<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
<footer class="footer">
    <div class="container text-center" id="social-icons">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-google-plus"></i></a>
        <a href="#"><i class="fa fa-skype"></i></a>
    </div>

    <br>
    <br>

    <!--footer-->
    <footer>
        <div class="footer_bottom_col">
            <div class="container">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="footer-title">About Us</div>
                            <ul class="footerul">
                                <li><a href="/about">About WorldWind</a></li>
                                <li><a href="https://github.com/NASAWorldWindResearch">Research</a></li>
                                <li><a href="">Blog</a></li>
                                <li><a href="">News & Events</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <div class="footer-title">Support</div>
                            <ul class="footerul">
                                <li><a href="">FAQs</a></li>
                                <li><a href="/contact">Contact Us</a></li>
                                <li><a href="https://forum.worldwindcentral.com/">Forum</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <div class="footer-title">Projects</div>
                            <ul class="footerul">
                                <li><a href="/web">Web</a></li>
                                <li><a href="/android">Android</a></li>
                                <li><a href="/java">Java</a></li>
                                <li><a href="https://github.com/NASAWorldWind/WorldWindServerKit">ServerKit</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="footer-title">Developer's Guide</div>
                                <ul class="footerul">
                                    <li><a href="">Examples</a></li>
                                    <li><a href="">Tutorials</a></li>
                                    <li><a href="">API Documentation</a></li>
                                    <li><a href="">Releases</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </footer>
