<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="container-fluid">
    <div class="jumbotron banner">
        <div class="container">
            <div class="row">
                <h3 id="bootstrap-override-h4">WorldWind is a virtual globe technology that lets you visualize, shape,
                    and analyze spatial data in a real world virtual representation.</h3>
            </div>
        </div>
    </div>
</div>

<br>

<div class="container">
    <div class="col-md-4">
        <h3>
            <img src="/img/open-lock.png" height="30px" width="30px" align="middle" hspace="10"/>View the source</h3>
        <p>As a completely open source project, WorldWind makes it simple and easy to extend the API. This
            provides a powerful platform to express, manipulate, and analyze spatial data. WorldWind technology can
            be incorporated into a wide range of applications, including Windows, Mac, Linux, web and mobile
            devices.</p>
    </div>
    <div class="col-md-4">
        <h3><img src="/img/tools.png" height="30px" width="30px" align="middle" hspace="10"/>Build what you want</h3>
        <p>Unlike Google Earth, WorldWind is a Software Development Kit (SDK) that software engineers can use to
            build their own applications. WorldWind provides a geographic rendering engine that powers a wide range
            of spatial aware projects--from satellite tracking systems to flight simulators.</p>
    </div>
    <div class="col-md-4">
        <h3><img src="/img/server.png" height="34px" width="34px" align="middle" hspace="10"/>NASA does the heavy lifting</h3>
        <p>With WorldWind handling the hard work of visualizing geographic data (generating terrain from
            elevation models, selecting and displaying images from imagery server, etc), software engineers
            are free to focus on solving problems specific to their domains and quickly build any geospatial
            application they imagine.</p>
    </div>
</div>

<br>
<br>

<div class="gitHub">
    <br>
    <br>
    <p class="text-center">WorldWind's source code, official releases, engineering roadmap, issue
        tracking and
        more are
        hosted by GitHub and managed by the NASA WorldWind development team.</p>
    <p><a href="https://github.com/NASAWorldWind/"><img src="./img/github-mark-32.png">
        github.com/nasaworldwind</a></p>
</div>